.create-form {
  padding: 16px;
  display: flex;
  align-items: flex-end;
  > div {
    margin: 8px;
    flex: 0 0 120px;
    input[type] {
      margin-bottom: 0;
    }
  }
  .checkbox-wrapper {
    line-height: 48px;
    label {
      vertical-align: middle;
    }
  }
  .item-action {
    flex: 0 0 70px;
  }
  .item-name {
    flex: 1 1 50%;
  }
  .btn {
    padding: 0 1rem;
    margin: 4px;
  }
}