
$roboto-font-path: '../../node_modules/materialize-css/dist/fonts/roboto/';

@import "~materialize-css/sass/components/color";
$table-striped-color: color('grey', 'darken-2');
$select-background: color('grey', 'darken-3');
$select-border: 1px solid color('grey', 'darken-2');
$select-focus: $select-border;
@import "~materialize-css/sass/materialize";

body {
  color: color('grey', 'lighten-1');
  background: color('grey', 'darken-3');
}

.page {
  @import "trades-page/trades-page";
  @import "offers-page";
}

::-webkit-scrollbar {
  background-color: color('grey', 'darken-2');
  width: 10px;
  //border-radius: 5px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  color('grey', 'darken-4');
  //border-radius: 5px;
}
